<mat-sidenav-content class="mat-drawer-content mat-sidenav-content"
><div class="hotel-advisor-container">
  <div style="max-width: 100%" class="ng-tns-c151-0 full-layout">
    <router-outlet class="ng-tns-c151-0"></router-outlet
    ><ta-ticket-list _nghost-rjy-c171="" class="ng-star-inserted"
      ><ticket-verification
        _ngcontent-rjy-c171=""
        _nghost-rjy-c168=""
        class="ng-star-inserted"
        ><div
          _ngcontent-rjy-c168=""
          class="ticketCon ng-star-inserted"
        >
          <div
            _ngcontent-rjy-c168=""
            class="ticketBg"
            style="
              background-image: url('https://erspublic.blob.core.windows.net/test/1749c48f-9f3c-6381-812b-095912825000.jpg');
            "
          >
            <div _ngcontent-rjy-c168="" class="ticketContainer">
              <div _ngcontent-rjy-c168="" class="ticketLogo">
                <img
                  _ngcontent-rjy-c168=""
                  src="https://portalv3.s3.eu-central-1.amazonaws.com/156/MyHotelFiles/78530f22-744a-42b0-b81e-8460cf83e567_balogo.png"
                  alt="Bilet Antalya"
                />
              </div>
              <div _ngcontent-rjy-c168="">
                <div _ngcontent-rjy-c168=""></div>
                <div _ngcontent-rjy-c168=""></div>
              </div>
              <div   _ngcontent-rjy-c168="" class="ticketBtns">
               
                <div   (click)="onSelect()"
                  _ngcontent-rjy-c168=""
                  matripple=""
                  class="mat-ripple priceBtn"
                  
                  
                > 
                  <span _ngcontent-rjy-c168="" class="title"
                    >SPECIAL ONLINE PRICES</span
                  ><span  _ngcontent-rjy-c168="" class="text"
                    >Специальные онлайн-цены</span
                  >
                </div>
                <mat-accordion>
                     <mat-expansion-panel hideToggle
                
                  _ngcontent-rjy-c168=""
                  class="mat-expansion-panel ng-tns-c143-8" 
                  ><mat-expansion-panel-header 
                    _ngcontent-rjy-c168=""
                    role="button"
                    collapsedheight="100px"
                    expandedheight="100px"
                    class="mat-expansion-panel-header mat-focus-indicator ng-tns-c144-9 ng-trigger ng-trigger-expansionHeight ng-tns-c143-8 ng-star-inserted"
                    id="mat-expansion-panel-header-0"
                    tabindex="0"
                    aria-controls="cdk-accordion-child-0"
                    aria-expanded="false"
                    aria-disabled="false"
                    style="height: 100px"
                    ><span   class="mat-content ng-tns-c144-9"
                      ><div
                        _ngcontent-rjy-c168=""
                        matripple=""
                        class="mat-ripple localPriceBtn ng-tns-c144-9" 
                       
                      >
                        <span _ngcontent-rjy-c168="" class="title" 
                          >İNDİRİMLİ YEREL FİYATLAR</span
                        ><span _ngcontent-rjy-c168="" class="text"
                          >HEMEN TIKLAYIN, YAKALAYIN!</span
                        >
                      </div></span
                    ><!----></mat-expansion-panel-header
                  >
                  <div
                    role="region"
                    class="mat-expansion-panel-content ng-tns-c143-8 ng-trigger ng-trigger-bodyExpansion"
                    id="cdk-accordion-child-0"
                    aria-labelledby="mat-expansion-panel-header-0"
                    
                  >
                    <div
                      class="mat-expansion-panel-body ng-tns-c143-8"
                    >
                      <div
                       
                        class="ng-tns-c143-8"
                      >
                        <form
                        
                          novalidate=""
                          class="ng-untouched ng-pristine ng-valid"
                        >
                          <mat-form-field 
                           
                            class="mat-form-field ng-tns-c94-10 mat-primary mat-form-field-type-mat-input mat-form-field-appearance-legacy mat-form-field-can-float mat-form-field-has-label mat-form-field-hide-placeholder ng-untouched ng-pristine ng-invalid"
                            style="width: 100%; margin-top: 2px"
                            ><div
                              class="mat-form-field-wrapper ng-tns-c94-10"
                            >
                              <div
                                class="mat-form-field-flex ng-tns-c94-10"
                              >
                                <!----><!---->
                                <div
                                  class="mat-form-field-infix ng-tns-c94-10"
                                >
                                  <input #tcno
                                    _ngcontent-rjy-c168=""
                                    matInput=""
                                    type="tel"
                                    min="0"
                                    max="99999999999"
                                    pattern="[0-9]{11}"
                                    autocomplete="off"
                                    tacoredigitonly=""
                                    maxlength="11"
                                    class="mat-input-element mat-form-field-autofill-control ng-tns-c94-10 cdk-text-field-autofill-monitored ng-untouched ng-pristine ng-invalid"
                                    id="mat-input-1"
                                    placeholder="TC Kimlik Numarası"
                                    aria-invalid="false"
                                    aria-required="false"
                                   
                                   
                                   
                                    
                                  /><span
                                    class="mat-form-field-label-wrapper ng-tns-c94-10"
                                    ><label
                                      class="mat-form-field-label ng-tns-c94-10 mat-empty mat-form-field-empty ng-star-inserted"
                                      id="mat-form-field-label-7"
                                      for="mat-input-1"
                                      aria-owns="mat-input-1"
                                      style=""
                                    
                                      
                                      
                                     
                                      >
                                     </label
                                    ></span
                                  >
                                </div>
                              
                              </div>
                            
                             
                              <div
                                class="mat-form-field-subscript-wrapper ng-tns-c94-10"
                              > <div
                              class="mat-form-field-underline ng-tns-c94-14 ng-star-inserted"
                              style=""
                            >
                              <span  class="mat-form-field-ripple ng-tns-c94-14"></span>
                            </div>
                               
                                <div
                                  class="mat-form-field-hint-wrapper ng-tns-c94-10 ng-trigger ng-trigger-transitionMessages ng-star-inserted"
                                  style="
                                    opacity: 1;
                                    transform: translateY(0%);
                                  "
                                >
                                  <!---->
                                  <div
                                    class="mat-form-field-hint-spacer ng-tns-c94-10"
                                  ></div>
                                
                                </div>
                                <!---->
                              </div>
                            </div>  <ng-content></ng-content></mat-form-field
                          >
                          <div 
                            _ngcontent-rjy-c168=""
                            class="tcNumberText"
                            style="margin-top: 8px"
                          >
                            Girmiş olduğunuz T.C. kimlik numarası
                            veri tabanına KAYDEDİLMEMEKTEDİR.
                          </div>
                          <button (click)="tcKontrolFonk(tcno)"  
                            _ngcontent-rjy-c168=""
                            mat-flat-button=""
                            color="accent"
                            class="mat-focus-indicator mat-flat-button mat-button-base mat-accent"
                            style="margin-top: 8px"
                            
                           
                          >
                            <span  class="mat-button-wrapper" 
                              >Devam Et</span
                            >
                            <div 
                              matripple=""
                              class="mat-ripple mat-button-ripple"
                            ></div>
                            <div
                              class="mat-button-focus-overlay"
                            ></div>
                          </button>
                        </form>
                      </div>
                      <!---->
                    </div>
                  </div></mat-expansion-panel
                ></mat-accordion><!---->
              </div>
              <div _ngcontent-rjy-c168="" class="phone">
                <a 
                  _ngcontent-rjy-c168=""
                  href="tel:+90 500 000 00 00"
                  ><fa-icon
                    _ngcontent-rjy-c168=""
                    class="ng-fa-icon"
                   
                  ></fa-icon>
                  +90 500 000 00 00
                </a>
              </div>
            </div>
          </div>
        </div>
        <!----></ticket-verification
      ><!----><!----></ta-ticket-list
    ><!---->
  </div>
</div></mat-sidenav-content
>
