<html
  translate="no"
  style="
    --p-c-1: #c5cae9;
    --p-c-1-rgb: 197, 202, 233;
    --p-c-5: #3f51b5;
    --p-c-5-rgb: 63, 81, 181;
    --p-c-7: #303f9f;
    --p-c-7-rgb: 48, 63, 159;
    --p-c-1-contrast: rgba(0, 0, 0, 0.87);
    --p-c-5-contrast: white;
    --p-c-7-contrast: white;
    --a-c-1: #ffecb3;
    --a-c-1-rgb: 255, 236, 179;
    --a-c-5: #ffc107;
    --a-c-5-rgb: 255, 193, 7;
    --a-c-7: #ffa000;
    --a-c-7-rgb: 255, 160, 0;
    --a-c-1-contrast: rgba(0, 0, 0, 0.87);
    --a-c-5-contrast: rgba(0, 0, 0, 0.87);
    --a-c-7-contrast: rgba(0, 0, 0, 0.87);
    --w-c-1: #ffcdd2;
    --w-c-1-rgb: 255, 205, 210;
    --w-c-5: #f44336;
    --w-c-5-rgb: 244, 67, 54;
    --w-c-7: #d32f2f;
    --w-c-7-rgb: 211, 47, 47;
    --w-c-1-contrast: rgba(0, 0, 0, 0.87);
    --w-c-5-contrast: white;
    --w-c-7-contrast: white;
  "
>
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
    crossorigin="anonymous"
  />
  <!DOCTYPE html>
  <html lang="en">
    <head>
      
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Document</title>
    </head>
    <header>
      <header _ngcontent-eha-c154="" class="header ng-star-inserted">
        <div
          _ngcontent-eha-c154=""
          class="header-bottom-container hotel-advisor-container"
        >
          <div _ngcontent-eha-c154="" class="header-bottom">
            <div _ngcontent-eha-c154="" class="header-bottom-left">
              <div _ngcontent-eha-c154="" class="header-logo">
                <a
                  (click)="anasayfaGit()"
                  _ngcontent-eha-c154=""
                  href="/Anasayfa"
                >
                  <img
                    _ngcontent-eha-c154=""
                    class="standartLogo ng-star-inserted"
                    src="https://portalv3.s3.eu-central-1.amazonaws.com/156/MyHotelFiles/78530f22-744a-42b0-b81e-8460cf83e567_balogo.png"
                    alt="Bilet Antalya"
                  /><!----><!----><!----></a
                >
              </div>

              <!---->
            </div>

            

            <div
              _ngcontent-eha-c154=""
              class="header-bottom-right ng-star-inserted"
            >
              <button
              aria-label="a"
                _ngcontent-vhi-c154=""
                mat-icon-button=""
                ngstyle.gt-sm="margin-left: 40px"
                class="mat-focus-indicator mat-icon-button mat-button-base"
                aria-describedby="cdk-describedby-message-7"
                cdk-describedby-host=""
              >
                  <i  (click)="goBack()" class="fa fa-arrow-left" aria-hidden="true"></i>
                  <span class="mat-button-wrapper"
                
                  ><fa-icon _ngcontent-vhi-c154="" class="ng-fa-icon"
                    ><svg 
                      role="img"
                      aria-hidden="true"
                      focusable="false"
                      data-prefix="fal"
                      data-icon="arrow-left"
                      class="svg-inline--fa fa-arrow-left fa-w-14"
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 448 512"
                    >
                      <path
                      
                        fill="currentColor"
                        d="M231.536 475.535l7.071-7.07c4.686-4.686 4.686-12.284 0-16.971L60.113 273H436c6.627 0 12-5.373 12-12v-10c0-6.627-5.373-12-12-12H60.113L238.607 60.506c4.686-4.686 4.686-12.284 0-16.971l-7.071-7.07c-4.686-4.686-12.284-4.686-16.97 0L3.515 247.515c-4.686 4.686-4.686 12.284 0 16.971l211.051 211.05c4.686 4.686 12.284 4.686 16.97-.001z"
                      ></path></svg></fa-icon
                ></span>
                <div
                  matripple=""
                  class="mat-ripple mat-button-ripple mat-button-ripple-round"
                ></div>
                <div class="mat-button-focus-overlay"></div>
              </button>
              <!---->
              <div _ngcontent-eha-c154="" class="ng-star-inserted" style="">
                <button
                  aria-label="a"
                  _ngcontent-eha-c154=""
                  mat-icon-button=""
                  class="mat-focus-indicator mat-icon-button mat-button-base"
                >
                  <span class="mat-button-wrapper"
                    ><fa-icon _ngcontent-eha-c154="" class="ng-fa-icon"
                      ><svg
                        role="img"
                        aria-hidden="true"
                        focusable="false"
                        data-prefix="fas"
                        data-icon="bars"
                        class="svg-inline--fa fa-bars fa-w-14"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 448 512"
                      >
                        <path
                          fill="currentColor"
                          d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z"
                        ></path></svg></fa-icon
                  ></span>
                  <i class="fa fa-bars" aria-hidden="true"></i>

                  <div
                    matripple=""
                    class="mat-ripple mat-button-ripple mat-button-ripple-round"
                  ></div>
                  <div class="mat-button-focus-overlay"></div>
                </button>
              </div>
              <!---->
              <div
                _ngcontent-eha-c154=""
                class="header-bottom-right-sign ng-star-inserted"
                style=""
              >
                <div
                  _ngcontent-eha-c154=""
                  s
                  class="header-login-menu ng-star-inserted"
                >
                  <a
                    _ngcontent-eha-c154=""
                    mat-button=""
                    class="mat-focus-indicator login-router-link mat-button mat-button-base ng-star-inserted"
                    tabindex="0"
                    aria-disabled="false"
                    href="/Giris"
                    ><span class="mat-button-wrapper"
                      ><fa-icon
                        _ngcontent-eha-c154=""
                        class="ng-fa-icon"
                      ></fa-icon
                      ><i class="fa fa-user-circle-o" aria-hidden="true"></i><span
                        _ngcontent-eha-c154=""
                        style="margin-left: 5px"
                        (click)="girisGit()"
                        >Giriş</span
                      ></span
                    >
                    <div
                      matripple=""
                      class="mat-ripple mat-button-ripple"
                    ></div>
                    <div class="mat-button-focus-overlay"></div></a
                  ><!----><!----><mat-menu _ngcontent-eha-c154="" class=""
                    ><!----></mat-menu
                  >
                </div>
                <!---->
                <div _ngcontent-eha-c154="" class="basket-button">
                  <button
                    _ngcontent-eha-c154=""
                    mat-button=""
                    type="button"
                    class="mat-focus-indicator mat-button mat-button-base"
                  >
                    <span class="mat-button-wrapper"
                      ><span
                        _ngcontent-eha-c154=""
                        matbadgeposition="above after"
                        matbadgecolor="accent"
                        class="mat-badge mat-badge-accent mat-badge-overlap mat-badge-above mat-badge-after mat-badge-medium mat-badge-hidden"
                        ><i
                          class="fa fa-shopping-basket"
                          aria-hidden="true"
                        ></i>
                        <span
                          _ngcontent-eha-c154=""
                          id="mat-badge-content-0"
                          class="mat-badge-content mat-badge-active"
                          >0</span
                        ></span
                      ></span
                    >
                    <div
                      matripple=""
                      class="mat-ripple mat-button-ripple"
                    ></div>
                    <div class="mat-button-focus-overlay"></div>
                  </button>
                </div>
              </div>
              <!---->
            </div>
            <!---->
          </div>
        </div>
      </header>

      <router-outlet></router-outlet>

      <html></html>
    </header>
  </html>
</html>
